
*.pt
runs/detect/train3/val_batch0_pred.jpg
runs/detect/train3/val_batch0_labels.jpg
runs/detect/train3/train_batch692.jpg
runs/detect/train3/train_batch691.jpg
runs/detect/train3/train_batch690.jpg
runs/detect/train3/train_batch2.jpg
runs/detect/train3/train_batch1.jpg
runs/detect/train3/train_batch0.jpg
runs/detect/train3/results.png
runs/detect/train3/results.csv
runs/detect/train3/R_curve.png
runs/detect/train3/PR_curve.png
runs/detect/train3/P_curve.png
runs/detect/train3/labels_correlogram.jpg
runs/detect/train3/labels.jpg
runs/detect/train3/F1_curve.png
runs/detect/train3/events.out.tfevents.1713797547.元亨利贞.10316.0
runs/detect/train3/confusion_matrix_normalized.png
runs/detect/train3/confusion_matrix.png
runs/detect/train3/args.yaml
datasets/split/valid/valid.txt
datasets/split/valid/labels/17.txt
datasets/split/valid/labels/16.txt
datasets/split/valid/labels.cache
datasets/split/valid/images/17.jpeg
datasets/split/valid/images/16.jpeg
datasets/split/train/train.txt
datasets/split/train/labels/9.txt
datasets/split/train/labels/8.txt
datasets/split/train/labels/7.txt
datasets/split/train/labels/6.txt
datasets/split/train/labels/5.txt
datasets/split/train/labels/4.txt
datasets/split/train/labels/3.txt
datasets/split/train/labels/20.txt
datasets/split/train/labels/2.txt
datasets/split/train/labels/19.txt
datasets/split/train/labels/18.txt
datasets/split/train/labels/15.txt
datasets/split/train/labels/14.txt
datasets/split/train/labels/13.txt
datasets/split/train/labels/11.txt
datasets/split/train/labels/10.txt
datasets/split/train/labels.cache
datasets/split/train/images/9.jpeg
datasets/split/train/images/8.jpeg
datasets/split/train/images/7.jpeg
datasets/split/train/images/6.jpeg
datasets/split/train/images/5.jpeg
datasets/split/train/images/4.jpeg
datasets/split/train/images/3.jpeg
datasets/split/train/images/20.jpeg
datasets/split/train/images/2.jpeg
datasets/split/train/images/19.jpeg
datasets/split/train/images/18.jpeg
datasets/split/train/images/15.jpeg
datasets/split/train/images/14.jpeg
datasets/split/train/images/13.jpeg
datasets/split/train/images/11.jpeg
datasets/split/train/images/10.jpeg
datasets/split/test/labels/12.txt
datasets/split/test/labels/1.txt
datasets/split/test/images/12.jpeg
datasets/split/test/images/1.jpeg
datasets/original/labels/1.txt
datasets/original/images/1.jpeg
a.yaml
__pycache__/split.cpython-311.pyc
